In [1]:
from IPython.display import display
import pandas as pd
from bjsim.common.cards import BjDeck, count_hand
from bjsim.common.game import dealer_hand
from bjsim.common.globals import WEB_POLICY
import bjsim.stats.game_stats as game_stats
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999
pandas.options.display.float_format = '{:,.2f}'.format

In [2]:
GAMES = 1000000

In [3]:
dealer_count, dealer_per = game_stats.dealer_stats_for_given_hand(GAMES, 6)
dealer_end_hand = dealer_count.sum(axis=1)/GAMES

In [4]:
print("Dealer end hand given the starting hands in percents (1 is Ace)")
display(dealer_per*100)
print("Dealer end hand on general")
display(dealer_end_hand*100)

Dealer end hand given the starting hands in percents (1 is Ace)

start hand     1     2     3     4     5     6     7     8     9    10
end count
17         13.12 13.88 13.52 13.05 12.26 16.17 36.84 13.07 12.00 11.10
18         13.10 13.32 12.95 12.62 12.06 10.62 13.79 35.92 11.65 11.10
19         13.11 13.11 12.54 12.11 11.89 10.63  7.81 13.03 35.22 11.19
20         13.06 12.42 12.10 11.72 11.28 10.38  7.91  6.86 11.88 34.04
21         36.06 11.98 11.46 11.21 10.81  9.82  7.44  6.92  6.15 11.22
F          11.55 35.30 37.43 39.30 41.70 42.38 26.22 24.20 23.11 21.35

Dealer end hand on general

end count
17   14.49
18   13.87
19   13.41
20   17.97
21   12.05
F    28.21
dtype: float64

In [5]:
player_count, player_per = game_stats.player_stats(GAMES, 6)
player_end_hand = player_count.sum(axis=1)/GAMES

In [6]:
print("Player end hand given the starting hands in percents, removed known hands. (1 is Ace, remove opening hands above 17)")
player_per = player_per.drop(columns=['17', '18', '19', '20', '21', '10,10'], errors='ignore').fillna(
    0).sort_index().sort_index(axis=1)


display(player_per*100)
print("Player end hand on general")
display(player_end_hand * 100)

Player end hand given the starting hands in percents, removed known hands. (1 is Ace, remove opening hands above 17)

start hand,10,11,12,13,14,15,16,"2,2","3,3","4,4",5,"5,5",6,"6,6",7,"7,7",8,"8,8",9,"9,9","A,10","A,2","A,3","A,4","A,5","A,6","A,7","A,8","A,9","A,A"
end count,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
11,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.15,0.25,0.16,0.00,0.00,0.00,0.19,0.00,0.25,0.00,0.00,1.83,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
12,4.77,7.65,23.08,0.00,0.00,0.00,0.00,13.12,4.63,3.95,2.53,4.28,2.33,1.33,2.25,4.08,2.10,2.85,1.74,2.78,0.00,1.78,1.54,1.78,1.96,2.40,2.73,0.71,0.00,6.94
13,4.61,8.04,1.24,38.43,0.00,0.00,0.00,5.19,22.11,5.26,4.53,3.82,4.05,6.59,3.67,6.04,3.39,4.30,3.26,4.76,0.00,12.35,3.17,3.13,3.00,3.01,3.14,0.48,0.00,8.03
14,4.75,7.69,1.09,0.00,38.24,0.00,0.00,3.90,4.35,12.67,4.67,4.03,3.74,7.07,3.57,1.62,3.30,4.86,3.20,4.80,0.00,2.93,11.84,3.07,3.03,2.83,3.00,0.57,0.00,7.68
15,4.74,7.63,1.15,0.00,0.00,38.29,0.00,5.36,4.13,3.27,12.73,4.15,3.88,6.43,3.88,6.19,3.36,4.54,3.02,4.85,0.00,2.86,2.76,12.26,2.88,3.00,2.70,0.49,0.00,7.63
16,4.79,7.68,1.12,0.00,0.00,0.00,38.40,5.13,2.88,4.11,4.41,4.14,12.68,21.19,3.82,5.98,3.56,1.12,2.97,4.94,0.00,2.87,2.87,3.18,11.91,2.89,2.95,0.64,0.00,7.57
17,8.97,7.72,7.59,6.02,5.61,5.20,4.95,10.77,10.24,10.20,9.47,9.61,14.29,7.23,35.98,26.75,11.44,11.64,10.55,7.11,0.00,12.11,11.66,11.80,10.47,32.63,8.02,0.65,0.00,8.00
18,9.19,7.46,7.61,5.95,5.36,5.20,4.68,9.77,8.24,26.66,9.70,9.77,7.84,7.21,11.78,7.01,34.63,36.06,10.77,30.64,0.00,11.99,11.67,11.88,11.07,9.74,43.35,0.64,0.00,7.82
19,9.31,7.42,7.55,5.87,5.68,5.29,4.83,9.41,8.75,9.77,9.20,9.27,8.70,7.64,6.32,6.30,11.64,11.27,33.58,25.09,0.00,11.83,11.71,10.47,11.75,9.78,7.96,94.48,0.00,7.78
20,32.09,7.71,7.57,6.02,5.59,5.01,4.69,9.79,7.74,5.86,8.47,32.28,8.07,7.39,6.34,6.90,5.53,5.47,10.41,7.15,0.00,12.08,11.75,10.81,10.81,10.31,8.21,0.73,100.00,7.95
21,8.82,30.99,7.62,5.85,5.60,5.13,4.62,8.22,7.66,5.21,8.44,9.22,7.74,7.12,5.70,6.16,5.28,5.39,4.19,2.77,100.00,12.21,12.10,10.86,10.73,10.44,8.17,0.62,0.00,30.60
F,7.97,0.00,34.39,31.86,33.92,35.88,37.84,19.20,19.01,12.88,25.85,9.43,26.67,20.59,16.69,22.72,15.79,12.51,14.47,5.10,0.00,16.99,18.94,20.76,22.38,12.98,9.79,0.00,0.00,0.00

Player end hand on general

end count
21   10.82
18   11.79
12    3.23
F    17.19
19   12.18
20   16.61
17   12.52
13    5.17
15    4.57
14    4.49
16    4.22
11    0.07
dtype: float64

In [7]:
win_rates_count, win_rates_per = game_stats.player_win_rates_for_start_hands(
    GAMES, 6)

In [8]:
def print_hand_stats(player_hand, df):
    print('player start hand: ', player_start_hand)
    filter_col = [col for col in df if col.startswith(player_hand)]
    new_df = df[filter_col]
    display(new_df)
    print("player wining chances: ",
          new_df.loc['win', :].sum()/new_df.loc['total', :].sum()*100)
    print("player losing chances: ",
          new_df.loc['lost', :].sum()/new_df.loc['total', :].sum()*100)
    return filter_col

In [9]:
player_start_hand = '9,9'
print("win percent without actions: ", dealer_end_hand.loc[['17', 'F']].sum())
print("lose percent without actions: ",
      dealer_end_hand.loc[['19', '20', '21']].sum())
filter_col = print_hand_stats(player_start_hand, win_rates_count)
display(win_rates_per.loc[:, filter_col])

win percent without actions:  0.42698500000000006
lose percent without actions:  0.434272
player start hand:  9,9

Player hand_Dealer hand,"9,9_8","9,9_3","9,9_10","9,9_9","9,9_2","9,9_4","9,9_5","9,9_6","9,9_7","9,9_1"
Results,,,,,,,,,,
win,434,457,560,333,398,499,569,538,259,104
lost,403,373,988,355,409,455,382,323,94,241
equal,80,69,180,137,62,59,72,58,46,64
total,917,899,1728,825,869,1013,1023,919,399,409
player_hand,"9,9","9,9","9,9","9,9","9,9","9,9","9,9","9,9","9,9","9,9"
dealer,8,3,10,9,2,4,5,6,7,1

player wining chances:  46.11709810021109
player losing chances:  44.69503388512388

Player hand_Dealer hand,"9,9_8","9,9_3","9,9_10","9,9_9","9,9_2","9,9_4","9,9_5","9,9_6","9,9_7","9,9_1"
Results,,,,,,,,,,
win,0.47,0.51,0.32,0.40,0.46,0.49,0.56,0.59,0.65,0.25
lost,0.44,0.41,0.57,0.43,0.47,0.45,0.37,0.35,0.24,0.59
equal,0.09,0.08,0.10,0.17,0.07,0.06,0.07,0.06,0.12,0.16
total,917,899,1728,825,869,1013,1023,919,399,409
player_hand,"9,9","9,9","9,9","9,9","9,9","9,9","9,9","9,9","9,9","9,9"
dealer,8,3,10,9,2,4,5,6,7,1

In [10]:
hand_99 = player_count['9,9']
print("improvement: ", hand_99.loc[[
      '19', '20', '21'], ].sum()/hand_99.sum()*100)
print("degradation: ", hand_99.loc[[
      '12', '13', '14', '15', '16', '17'], ].sum()/hand_99.sum()*100)
print("no change: ", hand_99.loc[['18'], ].sum()/hand_99.sum()*100)
print(WEB_POLICY.loc['9,9', :])

improvement:  35.009671179883945
degradation:  29.249946271222864
no change:  30.6361487212551
dealer_hand
2     Y
3     Y
4     Y
5     Y
6     Y
7     S
8     Y
9     Y
10    S
A     S
Name: 9,9, dtype: object

In [11]:
player_start_hand = '7,7'
filter_col = print_hand_stats(player_start_hand, win_rates_count)
display(win_rates_per.loc[:, filter_col])

player start hand:  7,7

Player hand_Dealer hand,"7,7_7","7,7_8","7,7_9","7,7_10","7,7_5","7,7_3","7,7_6","7,7_2","7,7_1","7,7_4"
Results,,,,,,,,,,
win,312,117,101,367,445,403,403,387,76,413
lost,366,283,309,1269,418,444,403,445,352,503
equal,147,28,36,117,80,60,74,57,11,65
total,825,428,446,1753,943,907,880,889,439,981
player_hand,"7,7","7,7","7,7","7,7","7,7","7,7","7,7","7,7","7,7","7,7"
dealer,7,8,9,10,5,3,6,2,1,4

player wining chances:  35.614179719703216
player losing chances:  56.436226592863036

Player hand_Dealer hand,"7,7_7","7,7_8","7,7_9","7,7_10","7,7_5","7,7_3","7,7_6","7,7_2","7,7_1","7,7_4"
Results,,,,,,,,,,
win,0.38,0.27,0.23,0.21,0.47,0.44,0.46,0.44,0.17,0.42
lost,0.44,0.66,0.69,0.72,0.44,0.49,0.46,0.50,0.80,0.51
equal,0.18,0.07,0.08,0.07,0.08,0.07,0.08,0.06,0.03,0.07
total,825,428,446,1753,943,907,880,889,439,981
player_hand,"7,7","7,7","7,7","7,7","7,7","7,7","7,7","7,7","7,7","7,7"
dealer,7,8,9,10,5,3,6,2,1,4

In [12]:
(player_count['8,8']/player_count['8,8'].sum()).sort_index()

end count
11    nan
12   0.03
13   0.04
14   0.05
15   0.05
16   0.01
17   0.12
18   0.36
19   0.11
20   0.05
21   0.05
F    0.13
Name: 8,8, dtype: float64

In [13]:
WEB_POLICY.index

Index(['5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17',
       '18', '19', '20', '21', 'A,2', 'A,3', 'A,4', 'A,5', 'A,6', 'A,7', 'A,8',
       'A,9', 'A,10', 'A,A', '2,2', '3,3', '4,4', '5,5', '6,6', '7,7', '8,8',
       '9,9', '10,10'],
      dtype='object', name='player_hand')