In [1]:
from IPython.display import display
import pandas as pd
from bjsim.common.cards import BjDeck, count_hand
from bjsim.common.game import dealer_hand
from bjsim.common.globals import STANDARD_LOGIC
import bjsim.stats.game_stats as game_stats
pd.options.display.max_rows = 999
pd.options.display.max_columns= 999
pandas.options.display.float_format = '{:,.2f}'.format

In [2]:
GAMES = 1000000

In [3]:

dealer_count,dealer_per = game_stats.dealer_stats_for_given_hand(GAMES,6)
dealer_end_hand = dealer_count.sum(axis=1)/GAMES

In [4]:
print ("Dealer end hand given the starting hands in percents (1 is Ace)")
display(dealer_per*100)
print("Dealer end hand on general")
display(dealer_end_hand*100)

Dealer end hand given the starting hands in percents (1 is Ace)

start hand     1     2     3     4     5     6     7     8     9    10
end count
17         13.03 14.00 13.41 13.06 12.26 16.69 36.82 13.17 12.08 11.02
18         13.24 13.52 12.92 12.40 12.27 10.51 13.57 35.71 11.68 11.10
19         13.11 13.14 12.70 11.98 11.67 10.79  7.97 12.92 35.19 11.24
20         12.91 12.38 12.07 11.77 11.33 10.22  7.81  6.95 12.16 33.97
21         36.20 11.80 11.63 11.31 10.71  9.66  7.43  7.07  6.03 11.32
F          11.51 35.15 37.27 39.49 41.77 42.12 26.40 24.19 22.86 21.36

Dealer end hand on general

end count
17   14.51
18   13.87
19   13.41
20   17.95
21   12.08
F    28.17
dtype: float64

In [5]:
player_count,player_per = game_stats.player_stats(GAMES,6)
player_end_hand = player_count.sum(axis=1)/GAMES

In [6]:
print ("Player end hand given the starting hands in percents, removed known hands. (1 is Ace, remove opening hands above 17)")
player_per = player_per.drop(columns=['17', '18','19','20','21','10,10'],errors='ignore').fillna(0).sort_index().sort_index(axis=1)


display(player_per*100)
print("Player end hand on general")
display(player_end_hand *100)

Player end hand given the starting hands in percents, removed known hands. (1 is Ace, remove opening hands above 17)

start hand,10,11,12,13,14,15,16,"2,2","3,3","4,4",5,"5,5",6,"6,6",7,"7,7",8,"8,8",9,"9,9","A,A"
end count,,,,,,,,,,,,,,,,,,,,,
11,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.18,0.24,0.28,0.00,0.00,0.00,0.18,0.00,0.28,0.00,0.00,1.69,0.00,0.00
12,4.50,7.70,23.20,0.00,0.00,0.00,0.00,13.00,4.81,4.19,2.46,4.24,2.51,1.07,2.35,3.85,1.98,3.16,1.74,2.99,7.42
13,4.77,7.53,1.17,38.22,0.00,0.00,0.00,8.29,20.26,5.01,4.40,3.91,3.99,6.36,3.71,5.76,3.14,4.45,3.03,4.98,7.66
14,4.82,7.69,1.16,0.00,38.40,0.00,0.00,3.30,7.34,11.88,4.03,4.13,4.29,6.69,3.83,1.19,3.29,4.33,3.07,4.90,7.93
15,4.69,7.86,1.21,0.00,0.00,38.63,0.00,4.53,3.63,4.97,12.70,3.85,3.92,6.10,3.59,5.86,3.29,4.01,3.02,4.77,7.75
16,4.74,7.66,1.17,0.00,0.00,0.00,38.30,3.95,2.60,3.63,4.26,3.98,12.96,20.62,3.64,6.06,3.35,0.97,3.09,5.09,8.06
17,9.29,7.39,7.44,6.29,6.01,5.41,5.24,10.60,10.45,10.01,10.14,9.86,14.11,10.26,35.12,27.06,11.42,11.68,10.38,7.60,7.68
18,8.91,7.78,7.52,6.35,5.95,5.60,5.30,9.69,8.47,26.41,9.66,9.48,8.20,6.81,12.36,10.15,34.89,36.76,10.52,30.08,7.47
19,8.89,7.65,7.62,6.40,5.97,5.44,5.40,9.35,8.14,10.03,9.48,9.44,8.46,7.49,6.25,6.34,11.44,11.93,33.90,25.05,7.50
20,32.33,7.66,7.50,6.45,6.05,5.45,5.35,9.00,7.85,5.18,8.54,32.81,7.84,6.91,6.25,6.34,5.39,5.35,10.68,7.05,7.33
21,9.19,31.08,7.59,6.29,6.09,5.66,5.21,8.41,7.02,5.15,7.90,8.97,7.31,6.53,5.81,5.43,5.79,5.25,4.32,2.70,31.20
F,7.88,0.00,34.42,30.00,31.53,33.82,35.20,19.69,19.18,13.26,26.44,9.34,26.41,20.97,17.09,21.69,16.02,12.12,14.55,4.80,0.00

Player end hand on general

end count
21   10.51
20   16.18
F    16.90
19   11.87
12    3.08
17   13.04
13    5.23
18   12.27
14    4.67
16    4.30
15    4.73
11    0.07
dtype: float64

In [7]:
win_rates_count,win_rates_per = game_stats.player_win_rates_for_start_hands(GAMES,6)

In [8]:
def print_hand_stats(player_hand,df):
    print('player start hand: ',player_start_hand)
    filter_col = [col for col in df if col.startswith(player_hand)]
    new_df =df[filter_col] 
    display(new_df)    
    print("player wining chances: ",new_df.loc['win',:].sum()/new_df.loc['total',:].sum()*100)
    print("player losing chances: ",new_df.loc['lost',:].sum()/new_df.loc['total',:].sum()*100)
    return filter_col

In [9]:
player_start_hand = '9,9'
print("win percent without actions: ",dealer_end_hand.loc[['17','F']].sum() )
print("lose percent without actions: ",dealer_end_hand.loc[['19','20','21']].sum() )
filter_col = print_hand_stats(player_start_hand,win_rates_count)
display(win_rates_per.loc[:,filter_col])

win percent without actions:  0.42684999999999995
lose percent without actions:  0.434479
player start hand:  9,9

Player hand_Dealer hand,"9,9_10","9,9_2","9,9_7","9,9_1","9,9_8","9,9_5","9,9_3","9,9_6","9,9_4","9,9_9"
Results,,,,,,,,,,
win,527,478,297,112,463,545,518,480,466,343
lost,958,418,106,261,404,338,359,347,399,357
equal,208,72,54,49,80,51,72,59,61,152
total,1693,968,457,422,947,934,949,886,926,852
player_hand,"9,9","9,9","9,9","9,9","9,9","9,9","9,9","9,9","9,9","9,9"
dealer,10,2,7,1,8,5,3,6,4,9

player wining chances:  46.81204339163161
player losing chances:  43.69050254593757

Player hand_Dealer hand,"9,9_10","9,9_2","9,9_7","9,9_1","9,9_8","9,9_5","9,9_3","9,9_6","9,9_4","9,9_9"
Results,,,,,,,,,,
win,0.31,0.49,0.65,0.27,0.49,0.58,0.55,0.54,0.50,0.40
lost,0.57,0.43,0.23,0.62,0.43,0.36,0.38,0.39,0.43,0.42
equal,0.12,0.07,0.12,0.12,0.08,0.05,0.08,0.07,0.07,0.18
total,1693,968,457,422,947,934,949,886,926,852
player_hand,"9,9","9,9","9,9","9,9","9,9","9,9","9,9","9,9","9,9","9,9"
dealer,10,2,7,1,8,5,3,6,4,9

In [10]:
hand_99 = player_count['9,9']
print("improvement: ",hand_99.loc[['19','20','21'],].sum()/hand_99.sum()*100)
print("degradation: ",hand_99.loc[['12','13','14','15','16','17'],].sum()/hand_99.sum()*100)
print("no change: ",hand_99.loc[['18'],].sum()/hand_99.sum()*100)
print(STANDARD_LOGIC.loc['9,9',:])

improvement:  34.7995244785475
degradation:  30.325299902734248
no change:  30.076731870744624
dealer_hand
2     Y
3     Y
4     Y
5     Y
6     Y
7     S
8     Y
9     Y
10    S
A     S
Name: 9,9, dtype: object

In [11]:
player_start_hand = '7,7'
filter_col = print_hand_stats(player_start_hand,win_rates_count)
display(win_rates_per.loc[:,filter_col])

player start hand:  7,7

Player hand_Dealer hand,"7,7_4","7,7_7","7,7_10","7,7_8","7,7_2","7,7_1","7,7_5","7,7_9","7,7_6","7,7_3"
Results,,,,,,,,,,
win,387,339,364,118,440,65,394,116,405,415
lost,403,420,1259,300,466,363,432,301,385,461
equal,57,159,92,30,78,17,55,32,60,85
total,847,918,1715,448,984,445,881,449,850,961
player_hand,"7,7","7,7","7,7","7,7","7,7","7,7","7,7","7,7","7,7","7,7"
dealer,4,7,10,8,2,1,5,9,6,3

player wining chances:  35.80842551188515
player losing chances:  56.36620381266181

Player hand_Dealer hand,"7,7_4","7,7_7","7,7_10","7,7_8","7,7_2","7,7_1","7,7_5","7,7_9","7,7_6","7,7_3"
Results,,,,,,,,,,
win,0.46,0.37,0.21,0.26,0.45,0.15,0.45,0.26,0.48,0.43
lost,0.48,0.46,0.73,0.67,0.47,0.82,0.49,0.67,0.45,0.48
equal,0.07,0.17,0.05,0.07,0.08,0.04,0.06,0.07,0.07,0.09
total,847,918,1715,448,984,445,881,449,850,961
player_hand,"7,7","7,7","7,7","7,7","7,7","7,7","7,7","7,7","7,7","7,7"
dealer,4,7,10,8,2,1,5,9,6,3

In [12]:
(player_count['8,8']/player_count['8,8'].sum()).sort_index()

end count
11    nan
12   0.03
13   0.04
14   0.04
15   0.04
16   0.01
17   0.12
18   0.37
19   0.12
20   0.05
21   0.05
F    0.12
Name: 8,8, dtype: float64

In [13]:
STANDARD_LOGIC.index

Index(['5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17',
       '18', '19', '20', '21', 'A,2', 'A,3', 'A,4', 'A,5', 'A,6', 'A,7', 'A,8',
       'A,9', 'A,10', 'A,A', '2,2', '3,3', '4,4', '5,5', '6,6', '7,7', '8,8',
       '9,9', '10,10'],
      dtype='object', name='player_hand')