In [1]:
from IPython.display import display
import pandas as pd
from common.cards import BjDeck, count_hand
from common.game import dealer_hand
from common.globals import STANDARD_LOGIC
import stats.game_stats as game_stats
pd.options.display.max_rows = 999
pd.options.display.max_columns= 999
pandas.options.display.float_format = '{:,.2f}'.format

In [14]:
GAMES = 1000000

In [21]:

dealer_count,dealer_per = game_stats.dealer_stats_for_given_hand(GAMES,6)
dealer_end_hand = dealer_count.sum(axis=1)/GAMES

In [22]:
print ("Dealer end hand given the starting hands in percents (1 is Ace)")
display(dealer_per*100)
print("Dealer end hand on general")
display(dealer_end_hand*100)

Dealer end hand given the starting hands in percents (1 is Ace)

start hand     1     2     3     4     5     6     7     8     9    10
end count
17         12.88 14.28 13.41 13.03 12.21 16.67 36.82 13.03 11.93 11.21
18         13.01 13.42 13.09 12.39 12.08 10.53 13.55 35.85 11.72 11.19
19         13.17 13.09 12.40 12.28 11.66 10.39  7.82 12.89 35.09 11.28
20         13.11 12.16 12.01 11.50 11.26 10.17  7.79  6.95 11.98 34.01
21         36.18 11.86 11.40 11.26 10.80  9.80  7.64  6.83  6.07 11.08
F          11.65 35.19 37.69 39.54 41.98 42.44 26.37 24.45 23.22 21.24

Dealer end hand on general

end count
17   14.54
18   13.87
19   13.37
20   17.91
21   12.02
F    28.29
dtype: float64

In [23]:
player_count,player_per = game_stats.player_stats(GAMES,6)
player_end_hand = player_count.sum(axis=1)/GAMES

In [24]:
print ("Player end hand given the starting hands in percents, removed known hands. (1 is Ace, remove opening hands above 17)")
player_per = player_per.drop(columns=['17', '18','19','20','21','10,10'],errors='ignore').fillna(0).sort_index().sort_index(axis=1)


display(player_per*100)
print("Player end hand on general")
display(player_end_hand *100)

Player end hand given the starting hands in percents, removed known hands. (1 is Ace, remove opening hands above 17)

start hand,10,11,12,13,14,15,16,"2,2","3,3","4,4",5,"5,5",6,"6,6",7,"7,7",8,"8,8",9,"9,9","A,A"
end count,,,,,,,,,,,,,,,,,,,,,
11,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.17,0.11,0.24,0.00,0.00,0.00,0.18,0.00,0.17,0.00,0.00,1.89,0.00,0.00
12,4.70,7.78,23.21,0.00,0.00,0.00,0.00,13.16,4.54,3.97,2.69,4.61,2.26,1.18,2.12,3.91,1.85,2.98,1.74,3.09,7.47
13,4.72,7.54,1.17,38.28,0.00,0.00,0.00,8.24,20.70,5.24,4.08,4.07,4.23,6.17,3.66,6.15,3.43,4.25,2.95,4.65,7.95
14,4.71,7.77,1.12,0.00,38.11,0.00,0.00,3.55,7.13,12.07,4.57,3.80,3.71,6.41,3.88,1.47,3.46,4.15,2.96,4.75,7.42
15,4.83,7.69,1.17,0.00,0.00,38.59,0.00,4.69,3.15,5.58,13.27,4.08,3.81,6.12,3.91,5.92,3.34,4.58,3.06,4.55,7.91
16,4.40,7.62,1.20,0.00,0.00,0.00,38.65,4.57,2.48,3.51,4.06,4.24,13.44,20.76,3.67,5.88,3.37,1.34,3.16,4.96,8.12
17,9.10,7.71,7.60,6.41,5.95,5.55,5.28,10.30,9.95,10.40,9.33,9.12,13.53,11.01,35.13,26.00,11.73,11.27,10.69,6.99,7.78
18,8.90,7.56,7.46,6.42,5.95,5.70,5.42,9.69,8.71,26.21,9.88,8.92,8.56,6.69,12.61,10.00,34.59,37.33,10.45,31.11,7.44
19,8.86,7.85,7.50,6.22,6.00,5.64,5.37,8.91,8.34,9.73,9.25,9.35,8.62,7.11,6.17,6.04,11.68,11.60,33.82,25.03,7.60
20,32.28,7.64,7.41,6.35,6.08,5.48,5.20,8.53,7.45,5.65,8.31,32.19,7.70,6.64,6.43,6.12,5.32,5.18,10.62,7.29,7.33
21,9.10,30.85,7.60,6.23,6.06,5.50,5.13,8.43,7.71,5.18,8.36,9.13,7.33,6.03,5.84,5.37,5.63,4.87,4.22,2.55,30.99
F,8.39,0.00,34.57,30.08,31.85,33.54,34.94,19.76,19.74,12.25,26.19,10.49,26.81,21.72,16.58,22.97,15.62,12.46,14.43,5.04,0.00

Player end hand on general

end count
17   13.04
F    16.93
13    5.22
20   16.18
18   12.27
19   11.87
21   10.48
14    4.62
12    3.09
15    4.73
16    4.34
11    0.07
dtype: float64

In [6]:
win_rates_count,win_rates_per = game_stats.player_win_rates_for_start_hands(GAMES,6)

In [7]:
def print_hand_stats(player_hand,df):
    print('player start hand: ',player_start_hand)
    filter_col = [col for col in df if col.startswith(player_hand)]
    new_df =df[filter_col] 
    display(new_df)    
    print("player wining chances: ",new_df.loc['win',:].sum()/new_df.loc['total',:].sum()*100)
    print("player losing chances: ",new_df.loc['lost',:].sum()/new_df.loc['total',:].sum()*100)
    return filter_col

In [27]:
player_start_hand = '9,9'
print("win percent without actions: ",dealer_end_hand.loc[['17','F']].sum() )
print("lose percent without actions: ",dealer_end_hand.loc[['19','20','21']].sum() )
filter_col = print_hand_stats(player_start_hand,win_rates_count)
display(win_rates_per.loc[:,filter_col])

win percent without actions:  0.428295
lose percent without actions:  0.432975

Player hand_Dealer hand,"9,9_1","9,9_10","9,9_6","9,9_7","9,9_9","9,9_8","9,9_4","9,9_3","9,9_5","9,9_2"
Results,,,,,,,,,,
win,100,531,559,278,339,483,444,435,513,442
lost,269,1021,323,98,408,371,362,362,398,392
equal,45,195,50,63,160,87,84,65,57,67
total,414,1747,932,439,907,941,890,862,968,901
player_hand,"9,9","9,9","9,9","9,9","9,9","9,9","9,9","9,9","9,9","9,9"
dealer,1,10,6,7,9,8,4,3,5,2

player wining chances:  45.817131429841126
player losing chances:  44.48394622819687

Player hand_Dealer hand,"9,9_1","9,9_10","9,9_6","9,9_7","9,9_9","9,9_8","9,9_4","9,9_3","9,9_5","9,9_2"
Results,,,,,,,,,,
win,0.24,0.30,0.60,0.63,0.37,0.51,0.50,0.50,0.53,0.49
lost,0.65,0.58,0.35,0.22,0.45,0.39,0.41,0.42,0.41,0.44
equal,0.11,0.11,0.05,0.14,0.18,0.09,0.09,0.08,0.06,0.07
total,414,1747,932,439,907,941,890,862,968,901
player_hand,"9,9","9,9","9,9","9,9","9,9","9,9","9,9","9,9","9,9","9,9"
dealer,1,10,6,7,9,8,4,3,5,2

In [9]:
hand_99 = player_count['9,9']
print("improvement: ",hand_99.loc[['19','20','21'],].sum()/hand_99.sum()*100)
print("degradation: ",hand_99.loc[['12','13','14','15','16','17'],].sum()/hand_99.sum()*100)
print("no change: ",hand_99.loc[['18'],].sum()/hand_99.sum()*100)
print(STANDARD_LOGIC.loc['9,9',:])

improvement:  34.79982873046457
degradation:  30.593020766431174
no change:  29.57610789980732
dealer_hand
2     Y
3     Y
4     Y
5     Y
6     Y
7     S
8     Y
9     Y
10    S
A     S
Name: 9,9, dtype: object

In [29]:
player_start_hand = '7,7'
filter_col = print_hand_stats(player_start_hand,win_rates_count)
display(win_rates_per.loc[:,filter_col])

Player hand_Dealer hand,"7,7_6","7,7_4","7,7_9","7,7_10","7,7_3","7,7_7","7,7_8","7,7_5","7,7_1","7,7_2"
Results,,,,,,,,,,
win,497,445,109,364,375,326,133,511,74,398
lost,465,449,324,1260,480,339,303,392,332,493
equal,87,70,36,95,85,153,24,59,23,74
total,1049,964,469,1719,940,818,460,962,429,965
player_hand,"7,7","7,7","7,7","7,7","7,7","7,7","7,7","7,7","7,7","7,7"
dealer,6,4,9,10,3,7,8,5,1,2

player wining chances:  36.831908831908834
player losing chances:  55.12250712250712

Player hand_Dealer hand,"7,7_6","7,7_4","7,7_9","7,7_10","7,7_3","7,7_7","7,7_8","7,7_5","7,7_1","7,7_2"
Results,,,,,,,,,,
win,0.47,0.46,0.23,0.21,0.40,0.40,0.29,0.53,0.17,0.41
lost,0.44,0.47,0.69,0.73,0.51,0.41,0.66,0.41,0.77,0.51
equal,0.08,0.07,0.08,0.06,0.09,0.19,0.05,0.06,0.05,0.08
total,1049,964,469,1719,940,818,460,962,429,965
player_hand,"7,7","7,7","7,7","7,7","7,7","7,7","7,7","7,7","7,7","7,7"
dealer,6,4,9,10,3,7,8,5,1,2

In [30]:
(player_count['8,8']/player_count['8,8'].sum()).sort_index()

end count
11    nan
12   0.03
13   0.04
14   0.04
15   0.05
16   0.01
17   0.11
18   0.37
19   0.12
20   0.05
21   0.05
F    0.12
Name: 8,8, dtype: float64

In [31]:
STANDARD_LOGIC.index

Index(['5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17',
       '18', '19', '20', '21', 'A,2', 'A,3', 'A,4', 'A,5', 'A,6', 'A,7', 'A,8',
       'A,9', 'A,10', 'A,A', '2,2', '3,3', '4,4', '5,5', '6,6', '7,7', '8,8',
       '9,9', '10,10'],
      dtype='object', name='player_hand')