In [1]:
from IPython.display import display
import pandas as pd
from common.cards import BjDeck, count_hand
from common.game import dealer_hand
import stats.game_stats as game_stats
pd.options.display.max_rows = 999
pd.options.display.max_columns= 999

In [9]:
dealer_count,dealer_per = game_stats.dealer_stats_for_given_hand(1000000,6)
print ("Dealer end hand given the starting hands in percents")
dealer_per.index.name="end count"
dealer_per.columns.name = "start hand"

display(dealer_per*100)

Dealer end hand given the starting hands in percents

start hand,1,2,3,4,5,6,7,8,9,10
end count,,,,,,,,,,
17,13.108663,13.994192,13.325118,13.201643,11.999896,16.748154,37.129584,13.026366,12.001866,11.257691
18,12.958480,13.400357,13.142227,12.408892,12.307353,10.507906,13.755532,35.783081,11.665026,11.199059
19,13.346884,13.055255,12.371749,12.118130,11.935032,10.639239,7.826290,13.092833,35.537907,11.253457
20,13.089242,12.316868,12.059148,11.536606,11.265632,10.151618,7.927224,6.904821,11.890449,34.001088
21,35.983117,11.799867,11.620728,11.176739,10.932230,9.656195,7.198685,7.014297,6.206923,11.117952
F,11.513614,35.433461,37.481030,39.557989,41.559857,42.296890,26.162685,24.178603,22.697829,21.170753

In [16]:
player_count,player_per = game_stats.player_stats(1000000,6)

In [18]:
print ("Player end hand given the starting hands in percents, removed known hands")
player_per.index.name="end count"
player_per.columns.name = "start hand"
player_per = player_per.drop(columns=['17', '18','19','20','21','10,10'],errors='ignore').fillna(0).sort_index().sort_index(axis=1)


display(player_per*100)

Player end hand given the starting hands in percents, removed known hands

start hand,10,11,12,13,14,15,16,"2,2","3,3","4,4",5,"5,5",6,"6,6",7,"7,7",8,"8,8",9,"9,9","A,A"
end count,,,,,,,,,,,,,,,,,,,,,
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.181550,0.250484,0.146671,0.000000,0.000000,0.000000,0.157081,0.000000,0.209668,0.000000,0.000000,1.757523,0.000000,0.000000
12,4.557980,7.612884,22.969120,0.000000,0.000000,0.000000,0.000000,13.400658,4.315154,4.194779,2.467875,4.045936,2.224657,1.208313,2.219539,3.820617,1.986507,2.730122,1.687669,1.416070,7.370659
13,4.557980,7.709223,1.192123,38.316827,0.000000,0.000000,0.000000,7.806649,20.767392,5.221473,4.118798,4.222615,3.674054,6.633639,3.664529,6.220151,3.410795,3.950841,3.151806,1.161496,7.547838
14,4.535485,7.736450,1.139193,0.000000,38.567569,0.000000,0.000000,3.472143,7.070477,12.466999,4.050719,3.886926,3.893149,6.887385,4.014325,1.281305,3.439947,4.280765,2.919892,1.543357,7.840184
15,4.678889,7.797185,1.162049,0.000000,0.000000,38.652350,0.000000,4.550096,3.609245,5.030801,13.071228,3.939929,4.019550,6.367811,3.797785,5.497962,3.564884,4.322006,3.149012,1.368337,7.565556
16,4.538297,7.652677,1.165658,0.000000,0.000000,0.000000,38.454844,4.538750,2.675623,3.432092,4.399626,4.134276,12.867616,20.529241,3.906055,6.546302,3.439947,1.014517,3.081953,1.288783,7.379518
17,9.166573,7.751110,7.585800,6.290207,5.878610,5.594767,5.318492,10.223533,10.338153,10.164271,9.531104,8.939929,14.738350,11.188980,35.358541,27.105416,11.481759,11.250412,10.891615,1.479714,7.769313
18,9.065347,7.625450,7.516029,6.270103,5.947049,5.558695,5.281997,9.576762,8.732779,26.444705,9.845971,9.787986,8.283475,6.730304,12.205380,10.075713,34.336998,36.992742,10.248959,84.073190,7.530120
19,9.225621,7.361565,7.552118,6.321949,5.984271,5.428836,5.286208,9.463293,7.981328,10.134937,9.386435,9.487633,8.283475,7.491542,6.192221,5.987187,11.460936,11.539096,33.750594,5.616547,7.716159
20,32.116747,8.048505,7.671210,6.331471,6.058714,5.551481,5.186547,8.283218,7.821929,5.588149,8.748192,32.367491,7.836859,6.851136,6.163072,5.963891,5.526403,5.460244,10.715583,1.638823,7.946492
21,9.279046,30.704951,7.522044,6.351574,6.049108,5.514206,5.274978,8.669012,6.728908,4.825462,8.152498,9.346290,7.567203,5.884485,5.580078,5.451369,5.497251,5.419004,4.112996,0.413683,31.334160
F,8.278034,0.000000,34.524654,30.117869,31.514679,33.699665,35.196934,19.834336,19.708528,12.349663,26.227555,9.840989,26.611612,20.070082,16.898476,21.840419,15.854573,13.040251,14.532398,0.000000,0.000000

In [28]:
win_rates_count,win_rates_per = game_stats.player_win_rates_for_start_hands(1000000,6)

In [49]:


def print_hand_stats(player_hand,df):
    filter_col = [col for col in df if col.startswith(player_hand)]
    new_df =df[filter_col] 
    display(new_df)
    total_hands = new_df.loc['win',:].sum()+new_df.loc['lost',:].sum()+new_df.loc['equal',:].sum()
    print("player wining chances: ",new_df.loc['win',:].sum()/total_hands*100)
    print("player losing chances: ",new_df.loc['lost',:].sum()/total_hands*100)
    
    
    

player_start_hand = '9,9'
print_hand_stats(player_start_hand,win_rates_count)
display(win_rates_per.loc[:,filter_col])

            9,9_1 9,9_10 9,9_4 9,9_6 9,9_2 9,9_5 9,9_7 9,9_9 9,9_8 9,9_3
win           115    586   234   595   230   239   296   159   163   225
lost          270    955   154   386   165   142    95   197   112   140
equal          59    192    44    49    50    56    43    51   161    61
player_hand   9,9    9,9   9,9   9,9   9,9   9,9   9,9   9,9   9,9   9,9
dealer          1     10     4     6     2     5     7     9     8     3

player wining chances:  45.66195372750643
player losing chances:  42.030848329048844

,"9,9_1","9,9_10","9,9_4","9,9_6","9,9_2","9,9_5","9,9_7","9,9_9","9,9_8","9,9_3"
win,0.259009,0.338142,0.541667,0.57767,0.516854,0.546911,0.682028,0.390663,0.373853,0.528169
lost,0.608108,0.551068,0.356481,0.374757,0.370787,0.324943,0.218894,0.484029,0.256881,0.328638
equal,0.132883,0.110791,0.101852,0.0475728,0.11236,0.128146,0.0990783,0.125307,0.369266,0.143192
player_hand,"9,9","9,9","9,9","9,9","9,9","9,9","9,9","9,9","9,9","9,9"
dealer,1,10,4,6,2,5,7,9,8,3

In [27]:
hand_99 = player_count['9,9']
print(hand_99.loc[['19','20','21'],].sum())
print(hand_99.loc[['12','13','14','15','16','17'],].sum())
print(hand_99[hand_99<18].sum())

482.0
519.0
0.0

end count
14      97.0
18    5284.0
13      73.0
12      89.0
21      26.0
16      81.0
20     103.0
17      93.0
19     353.0
15      86.0
F        NaN
11       NaN
Name: 9,9, dtype: float64